html 
 head 
  title Demo 
 body 
  h1 Pug File
  table 
   tr 
    td 1 
    td rahul 
    td 78
   tr 
    td 2
    td ajay 
    td 79
   tr 
    td=ename
    td=salary
    td=mobile

   h1 #{ename}
   table 
    tr 
      td=exp[0] 
      td=exp[1]